.container.right_menu {
    display: flex;

    height: 100vh;
    background-color: white;
    position: fixed;
    right: 0;

    animation-duration: 2s;
    animation-name: slideout;
}

.container.right_menu.opened {
    width: 30vw;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slideout {
    from {
        width: 30vw;
    }

    to {
        width: 0px;
    }
}

@keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 30vw;
    }
}
