.col1{
    left: 1px;
}

.col3 {
    left: 5px;
}

.col4 {
    left: 2px;
}

.col6 {
    left: 2px;
}

.col7 {
    left: 3px;
}

.col8 {
    left: 2px;
}

.col9 {
    left: -2px;
}

.col10 {
    left: 1px;
}

.col13 {
    left: 2px;
}

.col15 {
    left: 3px;
}

.col16{
    left: -4px;
}

.col17 {
    left: 3px;
}

.col18{
    left: -4px;
}

.col19{
    left: 6px;
}

.col20{
    left: -3px;
}

.col21{
    left: 10px;
}

.col22{
    left: -3px;
}

.col23{
    left: 13px;
}

.col24{
    left: -1px;
}

.col25{
    left: 16px;
}

.col26{
    left: -2px;
}

.col27{
    left: 21px;
}

.col29{
    left: 25px;
}

.col31{
    left: 26px;
}

.col33{
    left: 30px;
}

.col35{
    left: 33px;
}

.col36{
    left: -5px;
}

.col37{
    left: 35px;
}

.col38{
    left: -3px;
}

.col39{
    left: 36px;
}

.col40{
    left: -2px;
}

.col41{
    border: none;
    opacity: 0;
}

